{% extends 'templates/layout.twig' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                  <form method="post" action="{{ path_for('auth.login') }}">
                      <div class="form-group {% if errors.has('username') %}has-error{% endif %}">
                          <div class="input-group">
                              <span class="input-group-addon" ><i class="fa fa-user"></i></span>
                              <input type="text" class="form-control" name="identifier" placeholder="E-Mail or Username" value="{{ flash.getMessage('identifier').0 }}">
                          </div>
                          {% if errors.has('identifier') %}
                              <p class="help-block text-danger">{{ errors.first('identifier') }}</p>
                          {% endif %}
                      </div>
                      <div class="form-group {% if errors.has('password') %}has-error{% endif %}">
                          <div class="input-group">
                              <span class="input-group-addon" id="login-group"><i class="fa fa-key"></i></span>
                              <input type="password" class="form-control" name="password" placeholder="Password">
                              <span class="input-group-btn">
                                  <button class="btn btn-default" type="button"><i class="fa fa-question"></i></button>
                              </span>
                          </div>
                          {% if errors.has('password') %}
                              <p class="help-block text-danger">{{ errors.first('password') }}</p>
                          {% endif %}
                      </div>
                      <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember"> Keep me signed in
                            </label>
                        </div>
                      </div>
                      <hr>
                      <div class="form-group">
                          <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                          <input type="hidden" name="csrf_value" value="{{ csrf_token }}">
                          <button type="submit" class="btn btn-success btn-block"><i class="fa fa-sign-in"></i> Login</button>
                      </div>
                  </form>
                  <hr>
                  <div class="text-center">
                      <p>
                         Don't have an account? <a href="{{ path_for('auth.register') }}">Register</a>
                      </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
