{% extends 'templates/layout.twig' %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('css/typeahead.min.css') }}">
<style media="screen">
.list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.list-group .checkbox { display: inline-block;margin: 0px; }
.list-group input[type="checkbox"]{ margin-top: 9px; }
.nav-pills>li>a {padding: 5px 10px;}
.nav-pills { padding-bottom: 10px;}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Direct Messages | Inbox</h1>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#composeMessage">COMPOSE</button>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><span class="badge pull-right" id="inboxCount">0</span> Inbox </a></li>
                    <li><a href="{{ path_for('auth.messages.trash') }}"> <span class="badge pull-right" id="trashCount">0</span> Trash </a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10">
                <div class="btn-group">
                    <div type="button" class="btn btn-default" id="selectionContainer">
                        <input type="checkbox" style="margin: 0;" id="selection"/>
                    </div>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="select-all">All</a></li>
                        <li><a id="select-none">None</a></li>
                        <li><a id="select-read">Read</a></li>
                        <li><a id="select-unread">Unread</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <form action="{{ path_for('auth.messages.edit.trash') }}" method="post" id="deleteForm">
                        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                        <input type="hidden" name="csrf_value" value="{{ csrf_token }}">
                        <button type="submit" class="btn btn-danger" id="deleteButton"><i class="fa fa-trash"></i></button>
                    </form>
                </div>
                <hr  style="margin-top: 17px;">
                <div class="list-group">
                    {% if not messages is empty %}
                        {% for message in messages %}
                            <a href="{{ path_for('auth.messages.view', {id: message.id}) }}" class="list-group-item {% if not message.viewed %}list-group-item-success{% else %}list-group-item-default{% endif %}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="message-select" value="{{ message.id }}">
                                    </label>
                                </div>
                                <span id="name" style="min-width: 120px;display: inline-block;">{{ message.sender_first_name }} {{ message.sender_last_name }}</span>
                                <span id="subject" style="font-size: 14px; font-weight: bold;">{{ message.subject }}</span>
                                <span id="body" class="text-muted" style="font-size: 12px;">{{ message.body[:20] }}{% if message.body|length > 20 %}...{% endif %}</span>
                                <span id="time" class="badge" style="margin-top: 5px;">{{ message.created_at|date('m/d/Y') }} </span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">
                            <i><b>No new messages.</b></i>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="modal fade" id="composeMessage" tabindex="-1" role="dialog" aria-labelledby="composeMessageLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="composeMessageLabel">New message</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{ path_for('auth.messages.compose') }}" method="POST" autocomplete="off">
                        <div class="form-group{% if flash.getMessage('message_recipient_error').0 %} has-error{% endif %}">
                            <label for="message-recipient" class="control-label">Recipient:</label>
                            <input type="text" class="form-control typeahead" id="message-recipient" name="message_recipient" value="{{ flash.getMessage('recipient').0 }}">
                            {% if flash.getMessage('message_recipient_error').0 %}
                                <p class="help-block text-danger">{{ flash.getMessage('message_recipient_error').0 }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group{% if flash.getMessage('message_subject_error').0 %} has-error{% endif %}">
                            <label for="message-subject" class="control-label">Subject:</label>
                            <input type="text" class="form-control" id="message-subject" name="message_subject" value="{{ flash.getMessage('subject').0 }}">
                            {% if flash.getMessage('message_subject_error').0 %}
                                <p class="help-block text-danger">{{ flash.getMessage('message_subject_error').0 }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group{% if flash.getMessage('message_body_error').0 %} has-error{% endif %}">
                            <label for="message-body" class="control-label">Message:</label>
                            <textarea class="form-control" id="message-body" name="message_body">{{ flash.getMessage('body').0 }}</textarea>
                            {% if flash.getMessage('message_body_error').0 %}
                                <p class="help-block text-danger">{{ flash.getMessage('message_body_error').0 }}</p>
                            {% endif %}
                        </div>
                        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                        <input type="hidden" name="csrf_value" value="{{ csrf_token }}">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="message-send">Send message</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.11.0/algoliasearch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.5/typeahead.jquery.min.js"></script>
<script type="text/javascript">


    $(function() {
        var client = algoliasearch('9YSTW5T76P', 'd36a9cdf7fbc537cabf6c0c90f2b4161');
        var usernamesIndex = client.initIndex('demoapp_usernames');
    {% if flash.getMessage('error').0 %}
        $("#composeMessage").modal('show');
    {% endif %}
        // Rough! I don't reccommend using this.. but it works.
        var selectContainer = $("#selectionContainer");
        var selectTypeDefault = $("#selection");
        var selectTypeAll = $("#select-all");
        var selectTypeNone = $("#select-none");
        var selectTypeRead = $("#select-read");
        var selectTypeUnread = $("#select-unread");

        var selectedMessage = $("[id=message-select]");
        var selectedMessages = [];

        $("#inboxCount").hide();
        $("#trashCount").hide();

        $.ajax({
            url: "{{ path_for('api.messages') }}",
            dataType: "json",
            success: function(data) {
                if(data.unread_total !== 0) {
                    $("#inboxCount").html(data.unread_total);
                    $("#inboxCount").show();
                }

                if(data.trash_total !== 0) {
                    $("#trashCount").html(data.trash_total);
                    $("#trashCount").show();
                }
            }
        });

        $('#message-recipient').typeahead(null, {
            source: usernamesIndex.ttAdapter({
                'hitsPerPage': 5
            }),
            displayKey: 'username'
        });


        selectedMessage.click(function() {
            if(this.checked) {
                if($.inArray($(this).val(), selectedMessages) === -1)
                    selectedMessages.push($(this).val());
            } else {
                var index = selectedMessages.indexOf($(this).val());

                if(index > -1) {
                    selectedMessages.splice(index, 1);
                }
            }

            console.log(selectedMessages);
        });

        selectTypeDefault.click(function() {
            if(this.checked) {
                selectAll();
            } else {
                selectNone();
            }
        });

        selectTypeAll.click(function() {
            selectAll();
        });

        selectTypeNone.click(function() {
            selectNone();
        });

        selectTypeRead.click(function() {
            selectRead();
        });

        selectTypeUnread.click(function() {
            selectUnread();
        });

        var deleteForm = $('#deleteForm');
        var deleteButton = $('#deleteButton');

        deleteButton.click(function(e) {
            e.preventDefault();
            if(selectedMessages.length === 0) {
                noty({
                    layout: "topRight",
                    theme: "relax",
                    type: "error",
                    text: "<strong>Oops!</strong> <br /> Please select the messages you want to delete.",
                    timeout: 4000,
                    dismissQueue: true,
                    buttons: false,
                    killer: true,
                    animation: {
                        open: 'animated bounceInLeft',
                        close: 'animated bounceOutRight'
                    }
                });
            } else {
                $("<input>").attr({
                    type: 'hidden',
                    id: 'selectedMessagesForm',
                    name: 'selectedMessages[]',
                    value: selectedMessages
                }).appendTo(deleteForm);

                deleteForm.submit();
            }
        });

        function selectAll() {
            selectedMessage.each(function() {
                this.checked = true;
            });

            selectedMessage.each(function() {
                if($.inArray($(this).val(), selectedMessages) === -1)
                    selectedMessages.push($(this).val());
            });

            selectTypeDefault.prop('checked', true);
        }

        function selectNone() {
            selectedMessage.each(function() {
                this.checked = false;
            });

            selectedMessages = [];

            selectTypeDefault.prop('checked', false);
        }

        function selectRead() {
            selectNone();

            var readMessages = $(".list-group-item-default [id=message-select]");

            readMessages.each(function() {
                this.checked = true;

                if($.inArray($(this).val(), selectedMessages) === -1)
                    selectedMessages.push($(this).val());
            });

            selectTypeDefault.prop('checked', true);
        }

        function selectUnread() {
            selectNone();

            var unreadMessages = $(".list-group-item-success [id=message-select]");

            unreadMessages.each(function() {
                this.checked = true;

                if($.inArray($(this).val(), selectedMessages) === -1)
                    selectedMessages.push($(this).val());
            });

            selectTypeDefault.prop('checked', true);
        }
    });

</script>
{% endblock %}
