{% extends 'templates/layout.twig' %}

{% block styles %}
<style media="screen">
.list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.nav-pills>li>a {padding: 5px 10px;}
.nav-pills { padding-bottom: 10px;}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Direct Messages</h1>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#composeMessage">COMPOSE</button>
                <hr>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><span class="badge pull-right">42</span> Inbox </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10">
                <div class="list-group">
                    {% if not messages is empty %}
                        {% for message in messages %}
                            <a href="{{ path_for('auth.messages.view', {id: message.id}) }}" class="list-group-item {% if not message.viewed %}list-group-item-success{% endif %}">
                                <span id="name" style="min-width: 120px;display: inline-block;">{{ message.sender_first_name }} {{ message.sender_last_name }}</span>
                                <span id="subject" style="font-size: 14px; font-weight: bold;">{{ message.subject }}</span>
                                <span id="body" class="text-muted" style="font-size: 12px;">{{ message.body[:20] }}{% if message.body|length > 20 %}...{% endif %}</span>
                                <span id="time" class="badge">{{ message.created_at|date('m/d/Y') }}</span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">
                            <i><b>No new messages.</b></i>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="modal fade" id="composeMessage" tabindex="-1" role="dialog" aria-labelledby="composeMessageLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="composeMessageLabel">New message</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{ path_for('auth.messages.compose') }}" method="POST">
                        <div class="form-group{% if flash.getMessage('message_recipient_error').0 %} has-error{% endif %}">
                            <label for="message-recipient" class="control-label">Recipient:</label>
                            <input type="text" class="form-control" id="message-recipient" name="message_recipient" value="{{ flash.getMessage('recipient').0 }}">
                            {% if flash.getMessage('message_recipient_error').0 %}
                                <p class="help-block text-danger">{{ flash.getMessage('message_recipient_error').0 }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group{% if flash.getMessage('message_subject_error').0 %} has-error{% endif %}">
                            <label for="message-subject" class="control-label">Subject:</label>
                            <input type="text" class="form-control" id="message-subject" name="message_subject" value="{{ flash.getMessage('subject').0 }}">
                            {% if flash.getMessage('message_subject_error').0 %}
                                <p class="help-block text-danger">{{ flash.getMessage('message_subject_error').0 }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group{% if flash.getMessage('message_body_error').0 %} has-error{% endif %}">
                            <label for="message-body" class="control-label">Message:</label>
                            <textarea class="form-control" id="message-body" name="message_body">{{ flash.getMessage('body').0 }}</textarea>
                            {% if flash.getMessage('message_body_error').0 %}
                                <p class="help-block text-danger">{{ flash.getMessage('message_body_error').0 }}</p>
                            {% endif %}
                        </div>
                        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                        <input type="hidden" name="csrf_value" value="{{ csrf_token }}">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="message-send">Send message</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

    $(function() {
    {% if flash.getMessage('error').0 %}
        $("#composeMessage").modal('show');
    {% endif %}
    {% if flash.getMessage('notySuccess').0 %}
        noty({
            layout: "topRight",
            theme: "relax",
            type: "success",
            text: "<strong>Success!</strong> Your message has been sent!",
            timeout: 4000,
            buttons: false,
            animation: {
                open: 'animated bounceInLeft',
                close: 'animated bounceOutRight'
            }
        });
    {% endif %}
    });

</script>
{% endblock %}
