{% extends 'templates/layout.twig' %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="{{ path_for('admin.home') }}">Home</a></li>
              <li><a href="{{ path_for('admin.users') }}">User List</a></li>
              <li class="active">Edit {{ user.username }}</li>
            </ol>
            <div class="page-header">
                <h1>Editing {{ user.username }}'s Account</h1>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.getFullName }} ({{ user.username }})</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal" autocomplete="off">
                        <div class="form-group {% if errors.has('first_name') or errors.has('last_name') %}has-error{% endif %}">
                          <div class="row">
                              <label for="first_name" class="col-md-2 control-label">Name</label>
                              <div class="col-md-4">
                                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="User's First Name" value="{{ user.first_name }}">
                                  {% if errors.has('first_name') %}
                                      <p class="help-block text-danger">{{ errors.first('first_name') }}</p>
                                  {% endif %}
                              </div>
                              <div class="col-md-4">
                                  <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="User's Last Name" value="{{ user.last_name }}">
                                  {% if errors.has('last_name') %}
                                      <p class="help-block text-danger">{{ errors.first('last_name') }}</p>
                                  {% endif %}
                              </div>
                          </div>
                        </div>
                        <div class="form-group {% if errors.has('username') %}has-error{% endif %}">
                          <div class="row">
                              <label for="username" class="col-md-2 control-label">Username</label>
                              <div class="col-md-8">
                                  <input type="text" class="form-control" id="username" placeholder="{{ user.username }}" disabled>
                              </div>
                          </div>
                        </div>
                        <div class="form-group {% if errors.has('email') %}has-error{% endif %}">
                          <div class="row">
                              <label for="email" class="col-md-2 control-label">E-Mail</label>
                              <div class="col-md-8">
                                  <input type="text" class="form-control" name="email" placeholder="User's E-Mail" value="{{ user.email }}">

                                  {% if errors.has('email') %}
                                      <p class="help-block text-danger">{{ errors.first('email') }}</p>
                                  {% endif %}
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                                <input type="hidden" name="csrf_value" value="{{ csrf_token }}">
                                <button type="submit" class="btn btn-info btn-lg btn-block"><i class="fa fa-pencil"></i> Update {{ user.username }}'s Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="pull-right">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" id="activateUser" data-toggle="tooltip" data-placement="left" title="Activate" class="btn btn-success" {% if user.active %}disabled{% endif %}><i class="fa fa-check"></i> </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" id="banUser" data-toggle="tooltip" data-placement="right" title="Ban" class="btn btn-danger" {% if not user.active %}disabled{% endif %}><i class="fa fa-ban"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#activateUser').tooltip();
        $('#banUser').tooltip();
        $("#banUser").on('click', function(e) {
            e.preventDefault();

            swal({
                title: 'Are you sure?',
                text: 'If you click yes, {{ user.username }}\'s account will be banned!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#2196F3',
                cancelButtonColor: '#F44336',
                confirmButtonText: 'Yes, ban {{ user.username }}',
                cancelButtonText: 'Nevermind',
                closeOnConfirm: false,
                closeOnCancel: false
            }, function(isConfirm) {
                if(isConfirm) {
                    $.ajax({
                        url: "{{ path_for('admin.users.ban', {id: user.id}) }}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "csrf_name": "{{ csrf_name }}",
                            "csrf_value": "{{ csrf_token }}"
                        }
                    }).success(function(data) {
                        swal({
                            title: 'Banned',
                            text: data.message,
                            type: 'success',
                            timer: 5000
                        }, function(isConfirm) {
                            // We need to reload to regenerate our CSRF tokens
                            setTimeout(function() {
                                window.location.reload();
                            }, 100);
                        });
                    }).error(function(data) {
                        var res = $.parseJSON(data.responseText);
                        swal({
                            title: res.status + " (" + res.error + ")",
                            text: res.message,
                            type: 'error',
                            timer: 5000
                        }, function(isConfirm) {
                            // We need to reload to regenerate our CSRF tokens
                            setTimeout(function() {
                                window.location.reload();
                            }, 100);
                        });
                    });

                    // We need to reload to regenerate our CSRF tokens and update our button on success or error
                    setTimeout(function() {
                        location.reload();
                    }, 6000);
                } else {
                    swal({
                        title: 'Cancelled',
                        html: '<b>{{ user.username }}</b>\'s account will not be banned',
                        type: 'error',
                        timer: 5000
                    });
                }
            });
        });

        $("#activateUser").on('click', function(e) {
            e.preventDefault();

            swal({
                title: 'Are you sure?',
                text: 'If you click yes, {{ user.username }}\'s account will be activated!',
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#2196F3',
                cancelButtonColor: '#F44336',
                confirmButtonText: 'Activate {{ user.username }}',
                cancelButtonText: 'Nevermind',
                closeOnConfirm: false,
                closeOnCancel: false
            }, function(isConfirm) {
                if(isConfirm) {
                    $.ajax({
                        url: "{{ path_for('admin.users.activate', {id: user.id}) }}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "csrf_name": "{{ csrf_name }}",
                            "csrf_value": "{{ csrf_token }}"
                        }
                    }).success(function(data) {
                        swal({
                            title: 'Activated',
                            text: data.message,
                            type: 'success',
                            timer: 5000
                        }, function(isConfirm) {
                            // We need to reload to regenerate our CSRF tokens
                            setTimeout(function() {
                                window.location.reload();
                            }, 100);
                        });
                    }).error(function(data) {
                        var res = $.parseJSON(data.responseText);
                        swal({
                            title: res.status + " (" + res.error + ")",
                            text: res.message,
                            type: 'error',
                            timer: 5000
                        }, function(isConfirm) {
                            // We need to reload to regenerate our CSRF tokens
                            setTimeout(function() {
                                window.location.reload();
                            }, 100);
                        });
                    });

                } else {
                    swal({
                        title: 'Cancelled',
                        html: '<b>{{ user.username }}</b>\'s account will not be activated',
                        type: 'error',
                        timer: 5000
                    }, function(isConfirm) {
                    });
                }
            });
        });
    });
</script>
{% endblock %}
