{% extends 'templates/layout.twig' %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="{{ path_for('admin.home') }}">Home</a></li>
              <li><a href="{{ path_for('admin.users') }}">User List</a></li>
              <li class="active">Edit {{ user.username }}</li>
            </ol>
            <div class="page-header">
                <h1>Editing {{ user.username }}'s Account</h1>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.getFullName }} ({{ user.username }})</h3>
                </div>
                <div class="panel-body">
                    {% if not user.active %}
                    <div class="alert alert-warning" role="alert">
                      <strong>Heads up!</strong> This user is banned!
                    </div>
                    {% endif %}
                    <form action="" method="post" class="form-horizontal" autocomplete="off">
                        <div class="form-group {% if errors.has('first_name') or errors.has('last_name') %}has-error{% endif %}">
                          <div class="row">
                              <label for="first_name" class="col-md-2 control-label">Name</label>
                              <div class="col-md-4">
                                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="User's First Name" value="{{ user.first_name }}">
                                  {% if errors.has('first_name') %}
                                      <p class="help-block text-danger">{{ errors.first('first_name') }}</p>
                                  {% endif %}
                              </div>
                              <div class="col-md-4">
                                  <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="User's Last Name" value="{{ user.last_name }}">
                                  {% if errors.has('last_name') %}
                                      <p class="help-block text-danger">{{ errors.first('last_name') }}</p>
                                  {% endif %}
                              </div>
                          </div>
                        </div>
                        <div class="form-group {% if errors.has('username') %}has-error{% endif %}">
                          <div class="row">
                              <label for="username" class="col-md-2 control-label">Username</label>
                              <div class="col-md-8">
                                  <input type="text" class="form-control" id="username" placeholder="{{ user.username }}" disabled>
                              </div>
                          </div>
                        </div>
                        <div class="form-group {% if errors.has('email') %}has-error{% endif %}">
                          <div class="row">
                              <label for="email" class="col-md-2 control-label">E-Mail</label>
                              <div class="col-md-8">
                                  <input type="text" class="form-control" name="email" placeholder="User's E-Mail" value="{{ user.email }}">

                                  {% if errors.has('email') %}
                                      <p class="help-block text-danger">{{ errors.first('email') }}</p>
                                  {% endif %}
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                                <input type="hidden" name="csrf_value" value="{{ csrf_token }}">
                                <button type="submit" class="btn btn-info btn-lg btn-block"><i class="fa fa-pencil"></i> Update {{ user.username }}'s Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    {% if not user.id is same as(auth.id) %}
                    {% if auth.isHeadAdmin and not user.isAdmin %}
                    <div class="pull-left">
                      <button type="button" id="promote" data-toggle="tooltip" data-placement="top" title="Promote to Admin" class="btn btn-info"><i class="fa fa-globe"></i></button>
                    </div>
                    {% elseif auth.isHeadAdmin and user.isAdmin %}
                    <div class="pull-left">
                      <button type="button" id="demote" data-toggle="tooltip" data-placement="top" title="Demote from Admin" class="btn btn-warning"><i class="fa fa-globe"></i></button>
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="pull-right">
                        {% if not user.id is same as(auth.id) %}
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" id="activateUser" data-toggle="tooltip" data-placement="left" title="Activate" class="btn btn-success" {% if user.active %}disabled{% endif %}><i class="fa fa-check"></i> </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" id="banUser" data-toggle="tooltip" data-placement="top" title="Ban" class="btn btn-warning" {% if not user.active %}disabled{% endif %}><i class="fa fa-ban"></i></button>
                            </div>
                            {% if auth.isHeadAdmin %}
                            <div class="btn-group" role="group">
                                <button type="button" id="deleteUser" data-toggle="tooltip" data-placement="right" title="Delete" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </div>
                            {% endif %}
                        </div>
                        {% else %}
                            <span class="text-info">No additional actions can be made for this user.</span>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function() {
  $('[data-toggle="tooltip"]').tooltip();
    // This could be so much more simpler.....
    $("#demote").on('click', function(e) {
      e.preventDefault();
      swal({
        title: 'Are you sure?',
        text: 'If you click yes, {{ user.username }}\'s will no longer have admin access!',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#2196F3',
        cancelButtonColor: '#F44336',
        confirmButtonText: 'Yes, demote {{ user.username }}',
        cancelButtonText: 'Nevermind',
        closeOnConfirm: true,
        closeOnCancel: true
      }, function(isConfirm) {
        if(isConfirm) {
            $.ajax({
                url: "{{ path_for('admin.users.demote', {id: user.id, type: 'admin'}) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "csrf_name": "{{ csrf_name }}",
                    "csrf_value": "{{ csrf_token }}"
                }
            }).success(function(data) {
                noty({
                    layout: "topRight",
                    theme: "relax",
                    type: "success",
                    text: "<strong>Demoted!</strong> " + data.message,
                    timeout: 2000,
                    buttons: false,
                    animation: {
                        open: 'animated bounceInLeft',
                        close: 'animated bounceOutRight'
                    },
                    callback: {
                        afterClose: function() {
                            reload(100);
                        },
                        onClickClose: function() {
                            reload(100);
                        }
                    }
                });
            }).error(function(data) {
                console.log(data);
                var res = $.parseJSON(data.responseText);
                noty({
                    layout: "topRight",
                    theme: "relax",
                    type: "warning",
                    text: "<strong>Uh-oh!</strong> " + res.message,
                    timeout: 2000,
                    buttons: false,
                    animation: {
                        open: 'animated bounceInLeft',
                        close: 'animated bounceOutRight'
                    },
                    callback: {
                        afterClose: function() {
                            reload(100);
                        },
                        onClickClose: function() {
                            reload(100);
                        }
                    }
                });
            });
          }
      });
    });

    $("#promote").on('click', function(e) {
      e.preventDefault();
      swal({
        title: 'Are you sure?',
        text: 'If you click yes, {{ user.username }}\'s will be given admin access!',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#2196F3',
        cancelButtonColor: '#F44336',
        confirmButtonText: 'Yes, promote {{ user.username }}',
        cancelButtonText: 'Nevermind',
        closeOnConfirm: true,
        closeOnCancel: true
      }, function(isConfirm) {
        if(isConfirm) {
            $.ajax({
                url: "{{ path_for('admin.users.promote', {id: user.id, type: 'admin'}) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "csrf_name": "{{ csrf_name }}",
                    "csrf_value": "{{ csrf_token }}"
                }
            }).success(function(data) {
                noty({
                    layout: "topRight",
                    theme: "relax",
                    type: "success",
                    text: "<strong>Promoted!</strong> " + data.message,
                    timeout: 2000,
                    buttons: false,
                    animation: {
                        open: 'animated bounceInLeft',
                        close: 'animated bounceOutRight'
                    },
                    callback: {
                        afterClose: function() {
                            reload(100);
                        },
                        onClickClose: function() {
                            reload(100);
                        }
                    }
                });
            }).error(function(data) {
                console.log(data);
                var res = $.parseJSON(data.responseText);
                noty({
                    layout: "topRight",
                    theme: "relax",
                    type: "error",
                    text: "<strong>Uh-oh!</strong> " + res.message,
                    timeout: 2000,
                    buttons: false,
                    animation: {
                        open: 'animated bounceInLeft',
                        close: 'animated bounceOutRight'
                    },
                    callback: {
                        afterClose: function() {
                            reload(100);
                        },
                        onClickClose: function() {
                            reload(100);
                        }
                    }
                });
            });
        }
      });
    });

    $("#deleteUser").on('click', function(e) {
        e.preventDefault();
        swal({
            title: 'Are you sure?',
            text: 'If you click yes, {{ user.username }}\'s account will be deleted!',
            type: 'error',
            showCancelButton: true,
            confirmButtonColor: '#2196F3',
            cancelButtonColor: '#F44336',
            confirmButtonText: 'Yes, delete {{ user.username }}',
            cancelButtonText: 'Nevermind',
            closeOnConfirm: false,
            closeOnCancel: false,
            allowEscapeKey: false
        }, function(isConfirm) {
            if(isConfirm) {
                $.ajax({
                    url: "{{ path_for('admin.users.delete', {id: user.id}) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "csrf_name": "{{ csrf_name }}",
                        "csrf_value": "{{ csrf_token }}"
                    }
                }).success(function(data) {
                    swal({
                        title: 'Deleted',
                        text: data.message,
                        type: 'success',
                        timer: 5000
                    }, function(isConfirm) {
                        // Don't use this.
                        redirectToUserList();
                    });
                }).error(function(data) {
                    var res = $.parseJSON(data.responseText);
                    swal({
                        title: res.status + " (" + res.error + ")",
                        text: res.message,
                        type: 'error',
                        timer: 5000
                    }, function(isConfirm) {
                        reload(100);
                    });
                });
            } else {
                swal({
                    title: 'Cancelled',
                    text: '<b>{{ user.username }}</b>\'s account will not be banned',
                    html: true,
                    type: 'error',
                    timer: 3000
                });
            }
        });
    });

    $("#banUser").on('click', function(e) {
        e.preventDefault();

        swal({
            title: 'Are you sure?',
            text: 'If you click yes, {{ user.username }}\'s account will be banned!',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#2196F3',
            cancelButtonColor: '#F44336',
            confirmButtonText: 'Yes, ban {{ user.username }}',
            cancelButtonText: 'Nevermind',
            closeOnConfirm: true,
            closeOnCancel: true
        }, function(isConfirm) {
            if(isConfirm) {
                $.ajax({
                    url: "{{ path_for('admin.users.ban', {id: user.id}) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "csrf_name": "{{ csrf_name }}",
                        "csrf_value": "{{ csrf_token }}"
                    }
                }).success(function(data) {
                    noty({
                        layout: "topRight",
                        theme: "relax",
                        type: "success",
                        text: "<strong>Banned!</strong> " + data.message,
                        timeout: 2000,
                        buttons: false,
                        animation: {
                            open: 'animated bounceInLeft',
                            close: 'animated bounceOutRight'
                        },
                        callback: {
                            afterClose: function() {
                                reload(100);
                            },
                            onClickClose: function() {
                                reload(100);
                            }
                        }
                    });
                }).error(function(data) {
                    var res = $.parseJSON(data.responseText);
                    swal({
                        title: res.status + " (" + res.error + ")",
                        text: res.message,
                        type: 'error',
                        timer: 5000
                    }, function(isConfirm) {
                        reload(100);
                    });
                });
            } else {
                swal({
                    title: 'Cancelled',
                    text: '<b>{{ user.username }}</b>\'s account will not be banned',
                    html: true,
                    type: 'error',
                    timer: 5000
                });
            }
        });
    });

    $("#activateUser").on('click', function(e) {
        e.preventDefault();

        swal({
            title: 'Are you sure?',
            text: 'If you click yes, {{ user.username }}\'s account will be activated!',
            type: 'info',
            showCancelButton: true,
            confirmButtonColor: '#2196F3',
            cancelButtonColor: '#F44336',
            confirmButtonText: 'Activate {{ user.username }}',
            cancelButtonText: 'Nevermind',
            closeOnConfirm: true,
            closeOnCancel: true
        }, function(isConfirm) {
            if(isConfirm) {
                $.ajax({
                    url: "{{ path_for('admin.users.activate', {id: user.id}) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "csrf_name": "{{ csrf_name }}",
                        "csrf_value": "{{ csrf_token }}"
                    }
                }).success(function(data) {
                    noty({
                        layout: "topRight",
                        theme: "relax",
                        type: "success",
                        text: "<strong>Activated!</strong> " + data.message,
                        timeout: 2000,
                        buttons: false,
                        animation: {
                            open: 'animated bounceInLeft',
                            close: 'animated bounceOutRight'
                        },
                        callback: {
                            afterClose: function() {
                                reload(100);
                            },
                            onClickClose: function() {
                                reload(100);
                            }
                        }
                    });
                }).error(function(data) {
                    var res = $.parseJSON(data.responseText);
                    swal({
                        title: res.status + " (" + res.error + ")",
                        text: res.message,
                        type: 'error',
                        timer: 5000
                    }, function(isConfirm) {
                        reload(100);
                    });
                });

            } else {
                swal({
                    title: 'Cancelled',
                    text: '<b>{{ user.username }}</b>\'s account will not be activated',
                    html: true,
                    type: 'error',
                    timer: 5000
                }, function(isConfirm) {
                });
            }
        });
    });
});

</script>
{% endblock %}
