<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DemoApp</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ path_for('home') }}">Home</a></li>
        {% if auth %}
        <li><a href="{{ path_for('auth.messages') }}">Direct Messages</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not auth %}
            <li><a href="{{ path_for('auth.login') }}">Login</a></li>
            <li><a href="{{ path_for('auth.register') }}">Register</a></li>
        {% else %}
            <p class="navbar-text">Signed in as {% if auth.isAdmin %}<span class="text-danger">{{ auth.username }}</span>{% else %}{{ auth.username }}{% endif %}</p>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path_for('auth.settings') }}">Settings</a></li>
                    {% if auth.isAdmin %}
                        <li><a href="{{ path_for('admin.home') }}">Admin Center</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path_for('auth.logout') }}">Logout</a></li>
                </ul>

            </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
